h1{
	text-align: center;
	font-family: "Lucida Handwriting", Times, cursive;

}
img{
	border:3px solid yellow;
	display:block;
	margin:auto;
}
#k{
	border:3px solid black;
}

body{
	background-color: purple;
}
p{
	text-align: center;
}

